header {
    width: 100%;
    height: 52px;
    background-color: #2D333B;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1  {
    font-family: 'Monda';
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 700;
    line-height: 31.05px;
}

